
  <ion-content [fullscreen]="true">
  
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title class="ion-text-center">BAC Calculator</ion-title>
    </ion-toolbar>
    <ion-text class="ion-text-center">
      <h4>User Information</h4>
    </ion-text>
  </ion-header>
    

  <ion-grid>
      <ion-row>
       <ion-col>

        <ion-list>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="myService.selectedGender">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

       </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-list>  
            <ion-item>
              <ion-label>Birthday</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" min="1900-01-01" max="1999-01-01"></ion-datetime>
            </ion-item>

        </ion-list>

       </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-list>  
            <ion-item>
              <ion-label>Weight (lbs.)</ion-label>
              <ion-input 
                  [(ngModel)]="myService.weight"
                  type="number"
                  class="ion-text-right"
                  required="true">
                  </ion-input>
            </ion-item>
        </ion-list>
       </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>

          <ion-button (click)="myService.save()" expand="block" color="dark" type="submit" [routerLink]="['/tabs/tab2']">Done</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        
    <ion-card>
      <ion-item *ngFor="let item of items | async">
        {{item | json}}
      </ion-item>
    </ion-card>
      </ion-row>
    </ion-grid>



</ion-content>
